adium-theme-ubuntu==0.3.4
ansible==1.9.4
apt-xapian-index==0.45
autopep8==0.9.1
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
binaryornot==0.4.0
blinker==1.4
ccsm==0.9.11.3
CDDB==1.4
certifi==2015.11.20
cffi==1.4.2
chardet==2.0.1
CherryPy==3.8.0
click==6.2
colorama==0.2.5
command-not-found==0.3
compizconfig-python==0.9.11.3
ConfigArgParse==0.10.0
construct==2.5.2
cookiecutter==1.3.0
coursera-dl==0.6.1
coverage==4.0.3
cryptography==1.1.2
debtagshw==0.1
decorator==4.0.4
defer==1.0.6
dirspec==13.10
discid==1.1.0
docutils==0.12
duplicity==0.6.23
earthengine-api==0.1.65
ecdsa==0.13
enum34==1.1.2
eyeD3==0.6.18
feedgenerator==1.7
future==0.15.2
futures==3.0.3
GDAL==1.11.2
google-api-python-client==1.4.2
greenlet==0.4.9
hpack==2.0.1
html2text==2015.11.4
html5lib==1.0b8
httpie==0.9.2
httplib2==0.8
idna==2.0
ipaddress==1.0.15
ipython==4.0.0
ipython-genutils==0.1.0
jack==3.1.1
Jinja2==2.8
key-mon==1.17
keyring==9.3
lockfile==0.8
lxml==3.5.0
Markdown==2.6.2
MarkupSafe==0.23
matplotlib==1.3.1
mercurial==2.8.2
mitmproxy==0.14.0
msgpack-python==0.4.6
mutagen==1.22
ndg-httpsclient==0.4.0
neovim==0.0.38
netlib==0.14.0
numpy==1.8.2
oauth2client==1.5.1
oauthlib==0.6.1
oneconf==0.3.7
PAM==0.4.2
paramiko==1.16.0
passlib==1.6.5
path.py==8.1.2
pelican==3.6.3
pep8==1.4.6
pexpect==3.1
pickleshare==0.5
Pillow==2.3.0
piston-mini-client==0.7.5
pluggy==0.3.1
powerline-status==2.2
psutil==1.2.1
psycopg2==2.4.5
py==1.4.30
pyasn1==0.1.9
pyasn1-modules==0.0.7
PyBluez==0.18
pybonjour==1.1.1
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.66
Pygments==2.0.2
pygobject==3.12.0
pyogg==1.3
pyOpenSSL==0.15.1
pyparsing==2.0.6
pyperclip==1.5.24
pyserial==2.6
pysmbc==1.0.14.1
pyspatialite==3.0.1
python-apt===0.9.3.5ubuntu1
python-dateutil==2.4.2
python-debian===0.1.21-nmu2ubuntu2
python-xlib==0.14
pytz==2015.4
pyvorbis==1.5
pyxdg==0.25
PyYAML==3.11
reportlab==3.0
requests==2.8.1
rsa==3.2
ruamel.base==1.0.0
ruamel.ordereddict==0.4.9
ruamel.yaml==0.11.1
SecretStorage==2.2.1
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.8.0
singledispatch==3.4.0.3
six==1.10.0
software-center-aptd-plugins==0.0.0
speedtest-cli==0.3.4
ssh-import-id==3.21
system-service==0.1.6
tornado==4.3
tox==2.1.1
traitlets==4.0.0
trollius==2.0
Twisted-Core==13.2.0
Twisted-Web==13.2.0
Unidecode==0.4.18
unity-lens-photos==1.0
uritemplate==0.6
urllib3==1.16
urwid==1.3.1
vboxapi==1.0
virtualenv==14.0.6
wheel==0.24.0
whichcraft==0.1.1
xdiagnose===3.6.3build2
youtube-dl==2016.6.27
zope.interface==4.0.5
